<div class="w-[120px] h-[120px] cursor-pointer bg-white rounded-2xl flex flex-col justify-around items-center overflow-hidden text-center text-white p-1 clockShadow absolute">
  <svg class="scale-110" id="ezQWf9rsuOJ1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" project-id="1072891207ff482c97cca387fcd22dff" export-id="71714648e6a642f49f4b090ce14ed2ea" cached="false">
    <defs>
      <filter id="ezQWf9rsuOJ3-filter" x="-150%" width="400%" y="-150%" height="400%"><feGaussianBlur id="ezQWf9rsuOJ3-filter-drop-shadow-0-blur" in="SourceAlpha" stdDeviation="3,3"/><feOffset id="ezQWf9rsuOJ3-filter-drop-shadow-0-offset" dx="0" dy="0" result="tmp"/><feFlood id="ezQWf9rsuOJ3-filter-drop-shadow-0-flood" flood-color="#101010"/>
        <feComposite id="ezQWf9rsuOJ3-filter-drop-shadow-0-composite" operator="in" in2="tmp"/>
        <feMerge id="ezQWf9rsuOJ3-filter-drop-shadow-0-merge" result="result">
          <feMergeNode id="ezQWf9rsuOJ3-filter-drop-shadow-0-merge-node-1"/>
    <feMergeNode id="ezQWf9rsuOJ3-filter-drop-shadow-0-merge-node-2" in="SourceGraphic"/>
        </feMerge>
      </filter>
      <filter id="ezQWf9rsuOJ4-filter" x="-150%" width="400%" y="-150%" height="400%">
        <feGaussianBlur id="ezQWf9rsuOJ4-filter-blur-0" stdDeviation="0.5,0.5" result="result"/>
      </filter><filter id="ezQWf9rsuOJ5-filter" x="-150%" width="400%" y="-150%" height="400%">
      <feGaussianBlur id="ezQWf9rsuOJ5-filter-blur-0" stdDeviation="0.5,0.5" result="result"/>
    </filter><filter id="ezQWf9rsuOJ7-filter" x="-150%" width="400%" y="-150%" height="400%">
      <feGaussianBlur id="ezQWf9rsuOJ7-filter-drop-shadow-0-blur" in="SourceAlpha" stdDeviation="3,3"/>
      <feOffset id="ezQWf9rsuOJ7-filter-drop-shadow-0-offset" dx="0" dy="0" result="tmp"/>
      <feFlood id="ezQWf9rsuOJ7-filter-drop-shadow-0-flood" flood-color="#1c1c1c"/>
      <feComposite id="ezQWf9rsuOJ7-filter-drop-shadow-0-composite" operator="in" in2="tmp"/>
      <feMerge id="ezQWf9rsuOJ7-filter-drop-shadow-0-merge" result="result"><feMergeNode id="ezQWf9rsuOJ7-filter-drop-shadow-0-merge-node-1"/>
        <feMergeNode id="ezQWf9rsuOJ7-filter-drop-shadow-0-merge-node-2" in="SourceGraphic"/>
      </feMerge></filter><filter id="ezQWf9rsuOJ8-filter" x="-150%" width="400%" y="-150%" height="400%">
      <feGaussianBlur id="ezQWf9rsuOJ8-filter-blur-0" stdDeviation="1,1" result="result"/>
    </filter><filter id="ezQWf9rsuOJ20-filter" x="-150%" width="400%" y="-150%" height="400%">
      <feGaussianBlur id="ezQWf9rsuOJ20-filter-drop-shadow-0-blur" in="SourceAlpha" stdDeviation="2,2"/>
      <feOffset id="ezQWf9rsuOJ20-filter-drop-shadow-0-offset" dx="0" dy="0" result="tmp"/>
      <feFlood id="ezQWf9rsuOJ20-filter-drop-shadow-0-flood" flood-color="rgba(19,19,19,0.5)"/>
      <feComposite id="ezQWf9rsuOJ20-filter-drop-shadow-0-composite" operator="in" in2="tmp"/>
      <feMerge id="ezQWf9rsuOJ20-filter-drop-shadow-0-merge" result="result">
        <feMergeNode id="ezQWf9rsuOJ20-filter-drop-shadow-0-merge-node-1"/>
        <feMergeNode id="ezQWf9rsuOJ20-filter-drop-shadow-0-merge-node-2" in="SourceGraphic"/>
      </feMerge>
    </filter>
    </defs>
    <g  id="lEye" [attr.transform]=leftEyePos>
      <ellipse rx="27.706753" ry="27.706753" transform="matrix(-.01617-1.389993 1.389993-.01617 76.486778 112.216846)" filter="url(#ezQWf9rsuOJ3-filter)" fill="#181819" stroke-width="0"/>
    </g>
    <ellipse rx="7.887324" ry="7.887324" transform="matrix(.858387 0 0 0.908075 94.41067 87.120604)" filter="url(#ezQWf9rsuOJ4-filter)" fill="#fff" stroke-width="0"/>
    <ellipse rx="4.651499" ry="4.651499" transform="matrix(.768228 0 0 1 103.189964 90.773269)" filter="url(#ezQWf9rsuOJ5-filter)" fill="#fff" stroke-width="0"/>

    <g id="rEye" [attr.transform]=rightEyePos>
      <ellipse rx="27.706753" ry="27.706753" transform="matrix(1.390087 0 0 1.390087 227.964935 110.956665)" filter="url(#ezQWf9rsuOJ7-filter)" fill="#181819" stroke-width="0"/>
     </g>
    <ellipse rx="6.52666" ry="6.52666" transform="matrix(.689326 0 0 0.689326 223.465939 107.146629)" filter="url(#ezQWf9rsuOJ8-filter)" fill="#fff" stroke-width="0"/>
    <ellipse rx="6.52666" ry="6.52666" transform="matrix(.131635 0 0 0.131635 264.070925 111.645625)" fill="#fff" stroke-width="0"/>
    <ellipse rx="6.52666" ry="6.52666" transform="matrix(.207478 0 0 0.207478 263.734627 108.906806)" fill="#fff" stroke-width="0"/>

    <g id="face">
      <path  d="M0,300L0,0h300v300h-300ZM75.51657,160.66165c26.89902,0,48.70498-21.80596,48.70498-48.70498s-21.80596-48.70498-48.70498-48.70498-48.70498,21.80596-48.70498,48.70498s21.80596,48.70498,48.70498,48.70498Zm151.89517,0c27.45131,0,49.70499-22.25368,49.70499-49.70499s-22.25368-49.70499-49.70499-49.70499-49.70499,22.25368-49.70499,49.70499s22.25368,49.70499,49.70499,49.70499Z" fill="#e33c8d" stroke-width="0"/>
    </g>
    <rect  id="lTop" width="130" height="70" rx="0" ry="0" fill="#e33c8d" stroke-width="0"/>
    <rect id="lBtm" width="130" height="70" rx="0" ry="0" fill="#e33c8d" stroke-width="0"/>
    <rect id="rBtm" width="130" height="70" rx="0" ry="0"  fill="#e33c8d" stroke-width="0"/>
    <rect id="rTop" width="130" height="70" rx="0" ry="0"  fill="#e33c8d" stroke-width="0"/>
    <g>
      <rect width="120.534486" height="19.414951" rx="9.71" ry="9.71" transform="translate(89.732757 197.827819)" filter="url(#ezQWf9rsuOJ20-filter)" fill="#181819" stroke-width="0"/>
    </g>
  </svg>
</div>
