<div class="w-full h-full">
  <div class="relative w-full h-full flex flex-row justify-center items-center rounded">
    <div class="min-w-[500px] min-h-[400px] w-6/12 h-4/6 overflow-hidden bg-white rounded-2xl" >
      <div class="w-full h-full flex flex-row flex-wrap gap-2">
        @switch (currSelection){
          @case (SelectionType.Drag) {
            <div class="w-full h-full flex flex-row justify-around items-center p-4">

              <img  class="w-7/12  rounded-2xl shadow shadow-gray-600" src="./Tutorial/dragAndDrop.gif">

              <div class="relative w-4/12 h-full rounded pt-4">
                <p class="text-center font-bold text-3xl">Drag&Drop</p>
                <p>Hold the icon for 2 seconds until the pop animation plays. While holding it, drag the element to free space to move it. The animation will indicate that it is ready to be moved.</p>
                <div (click)="this.move(SelectionType.Interactive)" class="absolute cursor-pointer right-0 bottom-3 w-[70px] h-[45px] rounded  bg-teal-200 flex flex-col justify-center items-center font-bold"> Next </div>
                <div (click)="this.move(SelectionType.Interactive)" class="absolute cursor-pointer right-0 bottom-3 w-[70px] h-[45px] rounded  bg-teal-200 flex flex-col justify-center items-center font-bold"> Next </div>
              </div>

            </div>
          }
          @case (SelectionType.Interactive){
            <div class="w-full h-full flex flex-row justify-around items-center p-4">


              <img  class="w-7/12  rounded-2xl shadow shadow-gray-600" src="./Tutorial/interactive.gif">

              <div class="relative w-4/12 h-full rounded pt-4">
                <p class="text-center font-bold text-3xl">Interactive</p>
                <p>Interactive Tiles: These are dynamic, user-friendly elements that can be added, removed, or rearranged seamlessly.</p>
                <div (click)="move(SelectionType.Wallpaper)" class="absolute cursor-pointer right-0 bottom-3 w-[70px] h-[45px] rounded  bg-teal-200 flex flex-col justify-center items-center font-bold"> Next </div>
                <div (click)="move(SelectionType.Drag)" class="absolute cursor-pointer left-0 bottom-3 w-[70px] h-[45px] rounded  bg-teal-200 flex flex-col justify-center items-center font-bold"> Back </div>
              </div>

            </div>
          }
          @case (SelectionType.Wallpaper){
            <div class="w-full h-full flex flex-row justify-around items-center p-4">


              <img  class="w-7/12  rounded-2xl shadow shadow-gray-600" src="./Tutorial/wallpaper.gif">

              <div class="relative w-4/12 h-full rounded pt-4">
                <p class="text-center font-bold text-3xl">Wallpaper</p>
                <p>Create a personalized wallpaper. It is an exciting way to make your screen uniquely yours.</p>
                <div (click)="tutorialFinish()" class="absolute cursor-pointer right-0 bottom-3 w-[70px] h-[45px] rounded  bg-orange-400 flex flex-col justify-center items-center font-bold"> Finish </div>
                <div (click)="move(SelectionType.Interactive)" class="absolute cursor-pointer left-0 bottom-3 w-[70px] h-[45px] rounded  bg-teal-200 flex flex-col justify-center items-center font-bold"> Back </div>
              </div>

            </div>
          }
        }
      </div>
    </div>
  </div>
</div>
