<div class="w-full h-full">
  <div class="relative w-full h-full flex flex-row justify-center items-center rounded ">


    <div class="min-w-[500px] w-6/12 overflow-hidden bg-white rounded-2xl" >
      <div (mouseover)="slideService.onOver()"  (mouseleave)="slideService.onLeave()" class="relative" >

      <div [style.translate.%]="slideService.slideValue" class="relative flex flex-row p-4 items-center" #slidElement>
        <img class="w-full h-full rounded-2xl mr-6 shadow shadow-gray-600" src="./Certificate/{{slideService.certificate[0].name}}.png">
        <img class="w-full h-full rounded-2xl shadow shadow-gray-600" src="./Certificate/{{slideService.certificate[1].name}}.png">
      </div>
        <div  class="absolute z-50 top-0 left-5 flex flex-row items-center justify-center w-[50px] h-full rounded-full hover:scale-110 {{slideService.opa}}">
          <div (click)="slideService.onclickLeft(slidElement)" class="w-[40px] h-[40px] bg-white rounded-full">
            <img class="w-full h-fullobject-cover" src="./Certificate/leftArrow.svg">
          </div>

        </div>

        <div  class="absolute z-50 top-0 right-5 flex flex-row items-center justify-center w-[50px] h-full rounded-full hover:scale-110 {{slideService.opa}}">
          <div (click)="slideService.onclickRight(slidElement)" class="w-[40px] h-[40px] bg-white rounded-full">
            <img class="w-full h-fullobject-cover" src="./Certificate/rightArrow.svg">
          </div>

        </div>
        <div class="absolute bottom-[30px] w-full h-[50px] flex flex-row justify-center items-center ">
          <div (click)="slideService.onclickLeft(slidElement)" class="mx-1 w-[10px] h-[10px] translate-x-1 hover:scale-125 rounded-full {{slideService.blueFirst()}}"></div>
          <div (click)="slideService.onclickRight(slidElement)" class="w-[10px] h-[10px] hover:scale-125 translate-x-1 rounded-full {{slideService.blueSecond()}}"></div>
        </div>
      </div>

    </div>
  </div>
</div>
