@keyframes moveLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.moveLeftAnimation {
  animation: moveLeft 0.3s linear forwards;
}

.moveRightAnimation {
  animation: moveRight 0.3s linear forwards;
}



